.arrowBox {
	width: 200px; height:60px;
	background-color: yellow; 
	border-radius: 5px;
	position: relative;
	padding-top: 20px;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #333333;
	text-align:center;
}
.arrowBox:after {/*no space should be there between : and after*/
	content:""; 
	width: 0px; 
	height:0px;
	border-top: 10px solid red; /*change red to color of div's bg, yellow in this case for appropriateness. It is set to red only for the sake of highlighting*/
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position:absolute;
	left: 50%; top: 100%; margin-left:-10px;
} 